<%= turbo_stream.replace 'url_creation' do %>
  <%= turbo_frame_tag 'url_creation' do %>
    <% if @result.success? %>
      <%= render Url::CardComponent.new(url: @url, title: 'TinyURL created!') do |component| %>
        <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
          Long Url: <span><%= @url.long_url %></span>
        </h5>
        <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit text-base">
          Short Url: <%= @url.short_url %>
        </p>
        <% component.with_link do %>
          <%= render Shared::LinkComponent.new(text: 'View URL info', href: url_info_path(@url.token), target: :_blank, kind: :secondary) %>
        <% end %>
      <% end %>
    <% else %>
      <%= render Url::FormComponent.new(url: @url) %>
    <% end %>
  <% end %>
<% end %>
