<%= render Url::CardComponent.new(url: @url, title: 'TinyURL info', size: :full) do %>
  <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
    Long Url: <span><%= @url.long_url %></span>
  </h5>
  <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit text-base">
    Short Url: <%= @url.shorten_url %>
  </p>
<% end %>

<%= render Shared::List::ListComponent.new(title: 'Visits from IPs') do %>
  <%= render Url::List::ItemComponent.with_collection(@url.visits) %>
<% end %>
