<div class="relative flex flex-col mx-auto mt-6 text-gray-700 bg-white shadow-md bg-clip-border rounded-xl <%= @size_classes %>">
  <%= render Url::HeaderComponent.new(title: @title) %>
  <div class="p-6">
    <%= content %>
  </div>
  <div class="p-6 pt-0 mx-auto">
    <%= render Shared::LinkComponent.new(text: 'Visit URL', href: url_path(@url.token), target: :_blank) %>
    <% if links? %>
      <% links.each do |link| %>
        <%= link %>
      <% end %>
    <% end %>
  </div>
</div>
